*
{
    background-color: bisque;
}

.title {
    display: flex;
    align-items: center; 
    gap: 10px;        
    font-size: large;
}

body {
    transform: scale(1.5);
    transform-origin: 0 0;
    overflow-x: hidden; 
}
