.change
{
    width: 650px;
    height: 300px;
    background-color: black;
    transition: background-color ease-out;
}

body {
    transform: scale(1.5);
    transform-origin: 0 0;
    overflow-x: hidden; 
    background-color: bisque;
}
